html,
body {
  overflow: auto;
  scroll-behavior: smooth;
}

[data-theme='light'] {
  --scroll-bg1: transparent;
  --scroll-bg2: #d2d2d2;
  --scroll-hover: #a0a0a0;
  --focus: #808080;
  --scroll-border: #b0b0b0;
}

[data-theme='dark'] {
  --scroll-bg1: transparent;
  --scroll-bg2: #404040;
  --scroll-hover: #707070;
  --focus: #1a1111;
  --scroll-border: #646464;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track-piece {
  background: var(--scroll-bg1);
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-corner {
  background-color: var(--scroll-bg2);
  border-radius: 5px;
  border: 1px solid var(--scroll-border);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-hover);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-hover);
}

*:focus {
  outline-width: 0.1rem;
  outline-style: auto;
  outline-color: var(--focus);
}

.ck.ck-editor__main > .ck-editor__editable {
  background: transparent !important;
  min-height: 120px;
}

.ck.ck-editor__main > .ck-read-only {
  min-height: initial !important;
}

.ck-editor__main > .ck-editor__editable a {
  pointer-events: none;
  /* text-decoration: none;  Opcional: para quitar el subrayado */
}

.ck-editor__link_dark a {
  color: #ffffff;
}

.slidein {
  animation-duration: 0.8s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-top: 8px;
  }

  to {
    margin-bottom: 8px;
  }
}

.scroll-to-top {
  position: fixed;
  right: 28px;
  bottom: 28px;
  z-index: 9;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

/* Para el modo desktop */
@media screen and (min-width: 600px) {
  .scroll-to-top {
    right: 56px;
    bottom: 56px;
  }
}
.ck.ck-balloon-panel.ck-powered-by-balloon .ck.ck-powered-by {
  display: none;
}

.cardCompacto {
  width: 310px;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  border: 2px;
  padding-left: 8px;
  border-left: 4px;
  border-style: solid;
}

.parentBox:hover .referencedClass {
  display: flex;
  flex-direction: row;
  align-items: center;
  visibility: visible;
}
.parentBox:active .referencedClass {
  display: flex;
  flex-direction: row;
  align-items: center;
}
